@model myfinance_web_dotnet.Models.TransacaoModel

@{
    ViewData["Title"] = "Registrar Transação Financeira";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <form asp-controller="Transacao" asp-action="Cadastrar" method="post">
            <div class="mb-3">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Data</span>
                <input type="date" class="form-control" asp-for="Data" \>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Valor</span>
                <input type="text" class="form-control" asp-for="Valor" step="0.01"\>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Plano de Conta</span>
                @Html.DropDownListFor(m=> m.PlanoContaId, Model.ListaPlanoContas, new { @class="form-select"})
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Historico</span>
                <input type="text" class="form-control" asp-for="Historico"\>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-block btn-success">Registrar</button>
            </div>
        </form>
    </div>
</div>